.container-fluid{
  display: grid;
  grid-template:
    "a a a a"
    "b b b b"
    "b b b b"
    "b b b b"
    "c c c c";
}

body{
  background-color: rgb(247, 242, 242);
  color: black;
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
  margin: 0;
}

.navbar{
  color: black;
  background-color: #FDFD96;
  border-color: white;
  border-width: thick;
  font-family: 'Major Mono Display', monospace;
  font-size: 25px;
  font-weight: 300;
  margin: auto 0;
  grid-area: a;
  display: flex row;
}

.navbar-brand{
  color: black;
  font-family: 'Major Mono Display', monospace;
  font-size: 40px;
  margin: 10px;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: rgb(20, 104, 107);
}

ul{
  list-style-type: none;
  overflow: hidden;
}

li{
  list-style-type: none;
  list-style: none;
  display: inline;
}

.navbar{
  display: inline;
  list-style: none;
}

.nav-item{
  float: right;
}

.content{
  /* height: 3000px; */
  display: grid;
  grid-area: b;
  margin: 15px;
}

.intro{
  height: 200px;
  width: 400px;
  background-color: blue;
  color: aliceblue;
  margin: 20px;
}

.container{
  width: 400px;
  height: 400px;
  background-color: white;
}

.about-info {
  color: black;
  background-color: white;
}

.footer{
  height: 50px;
  grid-area: c;
  margin: 0;
  background-color: rgb(158, 255, 158);
}
