*{
  padding: 0;
  margin: 0;
}

body{
  background-color: white;
  color: rgb(0, 0, 100);
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 600;
}

.container-fluid{
  top: 0;
  left: 0;
  width: 100%;
  /* box-shadow: inset 0 0 0 10px violet; */
  width: 100%;
  height: 100%;
}

.navbar{
  color: rgb(0, 0, 100);
  font-size: 2em;
  width: 100%;
  height: 15vh;
  left: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
}

/* branding */

.navbar-brand{
  color: rgb(0, 0, 100);
  height: max-content;
}

.navbar-brand img{
  color: rgb(0, 0, 100);
  width: 12em;
  margin: auto;
}

/* menu and social links */

.menu-right{
  place-content: flex-end;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.menu-right ul{
  display: flex;
  list-style-type: none;
}

.menu-right ul li{
  margin: auto;
  padding-right: 1em;
  vertical-align: middle;
}

.menu-right a{
  color: rgb(0, 0, 100);
  text-decoration: none;
  margin: auto;
}

.menu-right ul a:hover{
  background-color: violet;
}

.social-link-flex{
  text-decoration: none;
}

/* end of navbar */

/* intro */

.particle-dandelion{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.intro-statement{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.opening-statement{
  margin: auto;
  animation: normal;
  animation-play-state: running;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-name: drop-down;
}

.opening-statement-2{
  margin: auto;
  text-align: center;
  animation: normal;
  animation-play-state: running;
  animation-duration: 2s;
  animation-delay: 250ms;
  animation-timing-function: ease-in-out;
  animation-name: drop-down;
}

.h2-top{
  margin-left: 5vw;
} 

/* article */

.content-wrapper{
  padding: 0;
  display: flexbox;
  flex-direction: column;
}

#intro-container{
  text-align: right;
}

#intro-container h1{
  text-align: center;
}

.intro{
  height: 60%;
  width: 50vw;
  background-color: rgb(0, 0, 100);
  color: rgb(240, 248, 255);
  margin: 25px;
  align-self: center;
}


.intro p{
  margin: 20px;
  text-align: justify;
}

.container-row{
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container-featured-header{
  height: auto;
  margin: auto;
  text-align: center;
}

.cont-container{
  width: 300px;
  height: 300px;
  margin: 25px;
  box-shadow: inset 0 0 0 3px blue;
}

.container-content{
  width: 100%;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-items: center;
}

iframe{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  /* background-color: rgb(158, 255, 158); */
}

footer.bottom-left{
  text-align: center;
}

footer.bottom-right{
  margin-right: 20px;
  align-self: center;
}

@keyframes drop-down{
  from{
    opacity: 0.25;
    transform: translateY(-200px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

/* iphones */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .container-fluid{
    display: flex;
    box-shadow: inset 0 0 0 10px violet;
  }

  .menu-right{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
  }

  
  .logo-image{
    width: 65vw;
    margin: auto;
  }

  .opening-statement{
    margin-left: 25vw;
    margin-top: 35vh;
  }

  .opening-statement-2{
    margin-left: 20vw;
    text-align: center;
  }

  .h2-top{
    margin-right: 20vw;
  }
}

/* ipad minis and airs */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}


/* ipad 12 in */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}