@import url("https://use.typekit.net/sqa2xzt.css");
/* Color Theme Swatches in Hex 
.marjoree-site-theme-march21-1-hex { color: #CAC9F2; }    light periwinkle from logo
.marjoree-site-theme-march21-2-hex { color: #0511F2; }    action
.marjoree-site-theme-march21-3-hex { color: #88A2F2; }    periwinkle from logo
.marjoree-site-theme-march21-4-hex { color: #F2F2F2; }    neutral white
.marjoree-site-theme-march21-5-hex { color: #060663; }    neutral black    */

$action: #c039b5;
$logo-prwnkl: #88A2F2;
$pastel-prwknl: #CAC9F2;
$off-white: #F2F2F2;
$dark-blue: #060663;

body{
    article{
        width: calc(100% - 2rem);
        margin: auto;
        section.about-intro{
            width: 80%;
            height: 75vh;
            display: flex;
            flex-direction: row;
            margin: auto;
            .text{
                margin: auto;
                z-index: 4;
                font-size: 2.5rem;
                p{
                    text-align: center;
                    font-size: 1.5rem;
                    color: $logo-prwnkl;
                    margin: auto auto auto 5rem;
                }
            }
            img{
                height: 22rem;
                width: auto;
                object-fit: cover;
                margin: auto auto auto -10rem;
                border: 1rem solid $action;
            }
        }
        section.biography{
            h3{
                margin: auto;
                max-width: 52rem;
                font-size: 2rem;
                padding: 1rem;
            }
            p{
                margin: auto;
                max-width: 48rem;
                text-align: left;
            }
            .education{
                width: 100%;
                margin: 5rem auto;
                display: flex;
                flex-direction: column;
                i{
                    margin: 2rem auto;
                    font-size: 2.5rem;
                    display: flex;
                    ::before{
                        align-self: center;
                        height: max-content;
                        margin: auto;
                    }
                    .details{
                        h3{
                            font-size: 1.5rem;
                            text-align: center;
                        }
                        h4{
                            font-size: 1.5rem;
                            line-height: 2.5rem;
                            text-align: center;
                            font-family: quasimoda,sans-serif;
                        }
                    }
                }
                a{
                    margin: auto;
                    text-decoration: none;
                    align-content: center;
                    &:active,
                    &:hover,
                    &:visited{
                        color: $action;
                        text-decoration: none;
                    }
                }
            }
            .experience-with{
                text-align: center;
                h3{
                    font-size: 2rem;
                    margin: 2rem auto;
                }
                .technologies{
                    display: flex;
                    justify-content: center;
                i{
                    margin: auto 2rem;
                    font-size: 3rem;
                }
            }
            }
        }
    }
}

/*         */
/* iphones */
/*         */
@media only screen  
    and (max-device-width: 376px)
    and (-webkit-min-device-pixel-ratio: 2) {
    body{
        article{
            section.about-intro{
                flex-direction: column;
                padding-top: 10rem;
                height: auto;
                .text{
                    h1{
                        font-size: 25px;
                    }
                    p{
                        margin: auto;
                        text-align: right;
                        font-size: 20px;
                    }
                }
                img{
                    margin: auto;
                    width: 80%;
                    height: auto;
                    border: 5px solid $action;
                }
            }
            section.biography{
                h3,
                h4{
                    font-size: 25px;
                }
                p{
                    width: 80%;
                }
                .education{
                    i{
                        font-size: 20px;
                        align-self: center;
                        margin: auto 0 auto auto ;
                        ::before{
                            align-self: start;
                            height: max-content;
                        }
                        .details{
                            h3,
                            h4{
                                font-size: 15px;
                            }
                        }
                    }
                }
                .experience-with{
                    margin: 2rem auto;
                    h3{
                        font-size: 1rem;
                    }
                    .technologies{
                        flex-direction: column;
                        i{
                            font-size: 3rem;
                            margin: 1rem;
                        }
                    }
                }
            }
        }
    }
}