/* Color Theme Swatches in Hex 
.marjoree-site-theme-march21-1-hex { color: #CAC9F2; }    light periwinkle from logo
.marjoree-site-theme-march21-2-hex { color: #0511F2; }    action
.marjoree-site-theme-march21-3-hex { color: #88A2F2; }    periwinkle from logo
.marjoree-site-theme-march21-4-hex { color: #F2F2F2; }    neutral white
.marjoree-site-theme-march21-5-hex { color: #060663; }    neutral black    */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
}

body{
  background-color: #F2F2F2;
  color: #060663;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  box-shadow: inset 0 0 0 1em #CAC9F2;
}

/*          */
/*  Nav Bar */
/*          */

.navbar{
  color: #060663;
  font-size: 1.5em;
  width: 95vw;
  height: max-content;
  left: 0;
  margin: 1em;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 10;
}

/* branding */

.navbar-brand{
  color: #060663;
  height: max-content;
  width: max-content;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-brand:hover{
  background-color: #88A2F2;
}

.logo-image{
  color: #060663;
  width: 15em;
  margin: auto;
}

.small-logo{
  display: none;
}

/*               */
/* toggle button */
/*               */

.icon{
  display: none;
}

/*                       */
/* menu and social links */
/*                       */

.menu-right{
  display: flex;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.menu{
  display: flex;
  list-style-type: none;
}

.menu li{
  margin: auto;
  padding-right: 0.5em;
  vertical-align: middle;
  overflow: hidden;
}

.menu-right a{
  height: max-content;
  padding-left: 5px;
  padding-right: 5px;
  color: #060663;
  text-decoration: none;
  vertical-align: middle;
}

.menu-right a:hover{
  background-color: #88A2F2;
  color: #CAC9F2;
}

.nav-link{
  text-decoration: none;
  padding: 0.5em;
  height: max-content;
  vertical-align: middle;
}

/*                */
/* end of navbar */
/*              */
/*   intro     */
/*            */

.about-intro{
  width: 85vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}

.about-me-img{
  height: 60vh;
  width: 30vw;
  margin: auto;
  padding: 2em;
  border-radius: 50%;
  background-image: url('https://s3-us-west-1.amazonaws.com/marjoree.e.f-images/about-me-image.JPG');
  background-size: cover;
  background-position: center;
}

.about-me-img:hover, .about-me-img::after{
  background-image: url('https://s3-us-west-1.amazonaws.com/marjoree.e.f-images/self-portrait.png');
}

.content{
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

h3{
  width: 30em;
}

.about-p{
  width: 50em;
  margin: auto;
}

.technologies{
  list-style-type: none;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: auto;
  font-size: 4em;
}

.technologies li{
  padding: 0.5em;
}

/*        */
/* footer */
/*        */
.footer{
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer h2{
  margin: auto;
  padding-top: 2rem;
}

.footer-content{
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60vh;
  z-index: 0;
  color: #060663;
  font-weight: 500;
}

footer a:link{
  color: initial;
  text-decoration: none;
  text-align: center;
}

.resume-link{
  font-size: 2rem;
  color: #88A2F2;
  margin: auto;
  z-index: 15;
  display: block;
  width: max-content;
}

.fas{
  width: 100%;
  font-size: 2rem;
  color: #88A2F2;
  margin: auto;
  z-index: 12;
}

.resume-link:hover{
  color: #0511F2;
}
.fas:hover{
  color: #0511F2;
}

.resume-link:active{
  color: #CAC9F2;
}

.fas:active{
  color: #CAC9F2;
}

.resume-link:visited{
  color: #0511F2;
}

.fas:visited{
  color: #0511F2;
}

form{
  display: flex;
  flex-direction: column;
  margin: auto;
  height: max-content;
  width: max-content;
  z-index: 16;
}

.form-names{
  display: flex;
  flex-direction: row;
  width: max-content;
}

.email{
  display: flex;
  flex-direction: row;
}

.form-email{
  width: 80%;
  margin: auto;
  height: 2rem;
}

label{
  margin: auto;
  width: 55%;
}

.email-label{
  width: 10%;
}

.form-comment{
  resize: vertical;
  margin-top: auto;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  height: 8rem;
  vertical-align: text-top;
}

.form-comment p{
  margin: 0 auto;
  line-height: 2rem;
}

textarea{
  margin-top: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: 'Poppins',sans-serif;
  color: #060663;
  font-weight: 400;
  align-items: middle;
  height: 2rem;
  width: 95%;
  border-color: #88A2F2;
  border-radius: 1rem;
  border-width: 0.25px;
  border-style: solid;
  z-index: 17;
}

input[type=text], input[type=email]{
  margin: 1rem;
  padding: 1rem;
  align-items: middle;
  height: 2rem;
  width: 90%;
  border-color: #88A2F2;
  border-radius: 1rem;
  border-width: 0.25px;
  border-style: solid;
  z-index: 17;
}

input[type=text]:focus{
  outline-style: auto;
  outline-offset: 0.5em;
  outline-color: #CAC9F2;
}

input[type=email]:focus{
  outline-style: auto;
  outline-offset: 0.5em;
  outline-color: #CAC9F2;
}

input[type='submit']{
  cursor: pointer;
  border-width: 0.25px;
  border-radius: 50px;
  border-color: #0511F2;
  border-style: solid;
  color: #0511F2;
  width: 5rem;
  height: 2rem;
  margin-right: 2rem;
  margin-left: auto;
  z-index: 28;
}

input[type='submit']:hover{
  background-color: #0511F2;
  color: #CAC9F2;
}

.bottom-left{
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.bottom-left p{
  margin: auto;
}


/* iphones */

@media only screen  
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    *{
      overflow-x: hidden;
    }

      body{
        background-color: #F2F2F2;
        color: #060663;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        width: 100%;
        height: 100%;
        padding: 0;
        box-shadow: inset 0 0 0 1em #CAC9F2;
      }

    .navbar{
      font-size: 1.5em;
      width: 85vw;
      height: max-content;
      left: 0;
      margin: 1em;
      justify-self: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: fixed;
      overflow: visible;
    }

    .navbar-brand{
      width: max-content;
      height: max-content;
      margin: 0;
      top: 0;
      left: 0;
    }

    .logo-image{
      display: none;
    }

    .small-logo{
      display: block;
      width: 4em;
    }

    .menu-right{
      display: initial;
      margin: auto;
      text-align: center;
      width: 100%;
      background-color: #CAC9F2;
    }

    .icon{
      display: block;
      top: 0;
      right: 0;
      z-index: 1;
      position: absolute;
    }

    .menu{
      display: none;
      width: 100%;
      height: 100%;
      padding: 0.5em;
    }

    .menu li{
      display: block;
      text-align: center;
      padding: 1em;
    }

    .nav-link{
      width: 100%;
    }

    .menuToggle{
      display: flex;
      flex-direction: column;
    }

    .about-p {
      width: fit-content;
    }

    .about-intro{
      margin-top: 35%;
      width: 85%;
    }

    .about-me-img {
      height: 60vh;
      width: 80vw;
    }

    .content{
      width: 85%;
    }

    .technologies{
      flex-direction: column;
      text-align: center;
    }

    .footer{
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      width: 100%;
      height: 80vh;
      color: #060663;
      font-weight: 500;
    }

    footer h3, h5{
      width: min-content;
      text-align: center;
    }

    .bottom-left{
      align-items: center;
    }

    .bottom-right {
      align-items: center;
    }
  }

/*                     */
/* ipad minis and airs */
/*                     */

@media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 1024px) 
  /* and (orientation: portrait)  */
  and (-webkit-min-device-pixel-ratio: 2) {

  *{
    overflow-x: hidden;
  }
.navbar{
    font-size: 1em;
    width: 95vw;
    height: 10vh;
    left: 0;
    margin: 1em;
    justify-self: center;
    display: flex;
    flex-wrap: nowrap;
    overflow: initial;
    position: fixed;
  }
  
  .logo-image{
    display: none;
  }

  .small-logo{
    display: block;
    width: 4em;
  }

  .menu-right{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    background-color: #CAC9F2;
  }

  .menu{
    display: none;
    width: 100%;
    height: 100%;
    padding: 0.5em;
  }

  .icon{
    display: block;
    top: 0;
    right: 0;
    z-index: 1;
    position: absolute;
  }
  
  .menuToggle{
    display: flex;
    flex-direction: column;
  }

  .about-intro{
    margin-top: 15%;
    white-space: initial;
  }

  .about-me-img {
    height: 60vh;
    width: 50vw;
  }

  .technologies{
    flex-direction: column;
  }

  .intro{
    height: max-content;
    white-space: initial;
  }

  .footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80vh;
    color: #060663;
    font-weight: 500;
  }
}

/*                        */
/*       ipad 12 in       */
/* Portrait and Landscape */
/*                        */

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
  *{
    padding: 0px;
    margin: 0px;
  }

  .logo-image{
    display: block;
    width: 20em;
  }

  .small-logo{
    display: none;
  }

  .menu-right{
    display: flex;
    position: absolute;
    top: 2em;
    right: 0;
  }

  .menu{
    display: flex;
    background-color: none;
  }

  .icon{
    display: none;
  }

  .menuToggle{
    display: flex;
    flex-direction: column;
  }

  .about-intro{
    margin-top: 15%;
  }

  .footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    height: max-content;
    color: #060663;
    font-weight: 500;
  }
}