@import url("https://use.typekit.net/sqa2xzt.css");
/* Color Theme Swatches in Hex 
.marjoree-site-theme-march21-1-hex { color: #CAC9F2; }    light periwinkle from logo
.marjoree-site-theme-march21-2-hex { color: #0511F2; }    action
.marjoree-site-theme-march21-3-hex { color: #88A2F2; }    periwinkle from logo
.marjoree-site-theme-march21-4-hex { color: #F2F2F2; }    neutral white
.marjoree-site-theme-march21-5-hex { color: #060663; }    neutral black    */
body article {
  width: calc(100% - 2rem);
  margin: auto;
}

body article section.about-intro {
  width: 80%;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
}

body article section.about-intro .text {
  margin: auto;
  z-index: 4;
  font-size: 2.5rem;
}

body article section.about-intro .text p {
  text-align: center;
  font-size: 1.5rem;
  color: #88A2F2;
  margin: auto auto auto 5rem;
}

body article section.about-intro img {
  height: 22rem;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto auto auto -10rem;
  border: 1rem solid #c039b5;
}

body article section.biography h3 {
  margin: auto;
  max-width: 52rem;
  font-size: 2rem;
  padding: 1rem;
}

body article section.biography p {
  margin: auto;
  max-width: 48rem;
  text-align: left;
}

body article section.biography .education {
  width: 100%;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body article section.biography .education i {
  margin: 2rem auto;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body article section.biography .education i ::before {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
}

body article section.biography .education i .details h3 {
  font-size: 1.5rem;
  text-align: center;
}

body article section.biography .education i .details h4 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-family: quasimoda,sans-serif;
}

body article section.biography .education a {
  margin: auto;
  text-decoration: none;
  -ms-flex-line-pack: center;
      align-content: center;
}

body article section.biography .education a:active, body article section.biography .education a:hover, body article section.biography .education a:visited {
  color: #c039b5;
  text-decoration: none;
}

body article section.biography .experience-with {
  text-align: center;
}

body article section.biography .experience-with h3 {
  font-size: 2rem;
  margin: 2rem auto;
}

body article section.biography .experience-with .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body article section.biography .experience-with .technologies i {
  margin: auto 2rem;
  font-size: 3rem;
}

/*         */
/* iphones */
/*         */
@media only screen and (max-device-width: 376px) and (-webkit-min-device-pixel-ratio: 2) {
  body article section.about-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10rem;
    height: auto;
  }
  body article section.about-intro .text h1 {
    font-size: 25px;
  }
  body article section.about-intro .text p {
    margin: auto;
    text-align: right;
    font-size: 20px;
  }
  body article section.about-intro img {
    margin: auto;
    width: 80%;
    height: auto;
    border: 5px solid #c039b5;
  }
  body article section.biography h3,
  body article section.biography h4 {
    font-size: 25px;
  }
  body article section.biography p {
    width: 80%;
  }
  body article section.biography .education i {
    font-size: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: auto 0 auto auto;
  }
  body article section.biography .education i ::before {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body article section.biography .education i .details h3,
  body article section.biography .education i .details h4 {
    font-size: 15px;
  }
  body article section.biography .experience-with {
    margin: 2rem auto;
  }
  body article section.biography .experience-with h3 {
    font-size: 1rem;
  }
  body article section.biography .experience-with .technologies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body article section.biography .experience-with .technologies i {
    font-size: 3rem;
    margin: 1rem;
  }
}
/*# sourceMappingURL=about.css.map */