body{
  background-color: rgb(240, 248, 255);
  color: rgb(9, 6, 170);
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 600;
}

.container-fluid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20vh 80vh 255vh 20vh;
  grid-template-areas:
        "head head head"
        "jumbo jumbo jumbo"
        "article article article"
        "footer footer footer";
  box-shadow: inset 0 0 0 10px violet;
}

.navbar{
  color: rgb(0, 0, 100);
  font-size: 25px;
  grid-area: head;
  width: 100%;
  margin: auto;
}

.menu-right{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
}


.navbar-brand{
  color: rgb(0, 0, 100);
  font-size: 30px;
  margin: 10px;
}

a{
  color: rgb(0, 0, 100);
  text-decoration: none;
}

a:hover{
  background-color: violet;
}

.social-link-flex{
  text-decoration: none;
}

.jumbo{
  grid-area: jumbo;
  width: 100vw;
  margin: auto;
}

.jumbotron{
  width: 85vw;
  margin: auto;
}

.jumbo-top-row{
  display: inline-flex;
  width: 100%;
  padding: 30px;
  margin: auto;
  justify-content: left;
}

.left-column-jumbo{
  width: 70%;
}

.about-me-img{
  height: 40vh;
}

.display-4{
  width: 90vw;
}

.lead{
  width: 80vw;
  margin: auto;
}

.content{
  grid-area: article;
  width: 85vw;
  margin: auto;
}

.content-header{
  width: 80vw;
}

.about-p{
  width: 75vw;
  margin: auto;
}

.footer{
  grid-area: footer;
  margin: 15px auto;
  width: 100%;
  background-color: rgb(158, 255, 158);
}