@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://use.typekit.net/sqa2xzt.css");
/* Color Theme Swatches in Hex 
.marjoree-site-theme-march21-1-hex { color: #CAC9F2; }    light periwinkle from logo
.marjoree-site-theme-march21-2-hex { color: #0511F2; }    action
.marjoree-site-theme-march21-3-hex { color: #88A2F2; }    periwinkle from logo
.marjoree-site-theme-march21-4-hex { color: #F2F2F2; }    neutral white
.marjoree-site-theme-march21-5-hex { color: #060663; }    neutral black    */
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  color: #060663;
  font-family: quasimoda,sans-serif;
  font-weight: 300;
  font-style: normal;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  -webkit-box-shadow: #CAC9F2 0 0 0 1rem inset;
          box-shadow: #CAC9F2 0 0 0 1rem inset;
}

body .navbar {
  color: #060663;
  font-size: 1.5em;
  width: 95vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  left: 0;
  margin: 1em;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  z-index: 10;
}

body .navbar .navbar-brand {
  color: #060663;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto auto auto 1rem;
}

body .navbar .navbar-brand:hover {
  background-color: #88A2F2;
}

body .navbar .navbar-brand picture {
  max-width: 40vw;
}

body .navbar .navbar-brand picture img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 35vw;
  margin: auto;
}

body .navbar .menu-right {
  margin: auto 1rem auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: jeanne-moderno-ultra, serif;
  font-style: italic;
  font-weight: 600;
}

body .navbar .menu-right a {
  padding: 0 5px;
  color: #060663;
  text-decoration: none;
  vertical-align: middle;
}

body .navbar .menu-right a:focus, body .navbar .menu-right a:hover {
  background-color: #88A2F2;
  color: #CAC9F2;
}

body .navbar .menu-right .icon {
  display: none;
}

body .navbar .menu-right .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

body .navbar .menu-right .menu li {
  margin: auto;
  padding-right: 0.5em;
  vertical-align: middle;
  overflow: hidden;
}

body .navbar .menu-right .menu .social-icons {
  text-align: center;
}

body .navbar .menu-right .menu .social-icons a.nav-link {
  text-decoration: none;
  margin: auto;
}

body .navbar .menu-right .menu .social-icons a.nav-link i ::before {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body h1, body h2, body h3 {
  font-family: jeanne-moderno-ultra, serif;
  font-style: italic;
  font-weight: 800;
}

body .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  justify-items: space-around;
  margin: auto;
  width: 100%;
}

body .footer h2 {
  margin: auto 3rem auto auto;
  font-size: 2rem;
}

body .footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 60%;
  height: 45vh;
  z-index: 0;
  color: #060663;
}

body .footer .footer-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto auto auto 3rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 70%;
  z-index: 16;
}

body .footer .footer-content form label {
  margin: auto;
  width: 60%;
}

body .footer .footer-content form .form-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 0.5rem auto;
}

body .footer .footer-content form .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0.5rem auto;
  width: 100%;
}

body .footer .footer-content form .email .email-label {
  width: 60%;
}

body .footer .footer-content form .email .form-email {
  width: 100%;
  margin: auto;
  height: 2rem;
}

body .footer .footer-content form textarea {
  margin: auto auto 1rem auto;
  height: 40rem;
  padding: 1rem;
  font-family: 'Poppins',sans-serif;
  color: #060663;
  font-weight: 400;
  -webkit-box-align: middle;
      -ms-flex-align: middle;
          align-items: middle;
  height: 2rem;
  width: 100%;
  border-color: #88A2F2;
  border-radius: 1rem;
  border-width: 0.25px;
  border-style: solid;
  z-index: 17;
}

body .footer .footer-content form input[type=text], body .footer .footer-content form input[type=email] {
  margin: 1rem;
  padding: 1rem;
  -webkit-box-align: middle;
      -ms-flex-align: middle;
          align-items: middle;
  height: 2rem;
  width: 100%;
  border-color: #88A2F2;
  border-radius: 2rem;
  border-width: 0.25px;
  border-style: solid;
  z-index: 17;
}

body .footer .footer-content form input[type=text] {
  height: 2rem;
  width: 100%;
  border-color: #88A2F2;
  border-radius: 1rem;
  border-width: 0.25px;
  border-style: solid;
  z-index: 17;
}

body .footer .footer-content form input[type=text]:focus {
  outline-style: auto;
  outline-color: #060663;
}

body .footer .footer-content form input[type=email] {
  height: 2rem;
  width: 100%;
  border-color: #88A2F2;
  border-radius: 1rem;
  border-width: 0.25px;
  border-style: solid;
  z-index: 17;
}

body .footer .footer-content form input[type=email]:focus {
  outline-style: auto;
  outline-color: #060663;
}

body .footer .footer-content form input[type='submit'] {
  cursor: pointer;
  border-width: 0.25px;
  border-radius: 50px;
  border-color: #f205de;
  border-style: solid;
  color: #060663;
  width: 5rem;
  height: 2rem;
  margin: auto 2rem auto auto;
  font-weight: 400;
  z-index: 28;
}

body .footer .footer-content form input[type='submit']:focus, body .footer .footer-content form input[type='submit']:hover {
  background-color: #060663;
  color: #F2F2F2;
}

body .footer .footer-content form .comment-label {
  text-align: left;
  width: 100%;
  margin: 0.5rem auto;
}

body .footer .footer-content form .form-comment {
  resize: vertical;
  margin: 0.5rem auto;
  text-align: left;
  height: 4rem;
  vertical-align: text-top;
  padding: 0.5rem;
  color: #060663;
  -webkit-box-align: middle;
      -ms-flex-align: middle;
          align-items: middle;
  width: 100%;
  border-color: #88A2F2;
  border-radius: 1rem;
  border-width: 0.25px;
  border-style: solid;
  z-index: 17;
}

body .footer .footer-content form .form-comment:focus {
  outline-color: #060663;
}

@media only screen and (max-device-width: 376px) and (-webkit-min-device-pixel-ratio: 2) {
  * {
    overflow-x: hidden;
  }
  body {
    background-color: #F2F2F2;
    color: #060663;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-box-shadow: inset 0 0 0 1em #CAC9F2;
            box-shadow: inset 0 0 0 1em #CAC9F2;
  }
  body .navbar {
    font-size: 1.5em;
    width: 85vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    left: 0;
    margin: 1em;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: fixed;
    overflow: visible;
  }
  body .navbar .navbar-brand {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 0;
    top: 0;
    left: 0;
  }
  body .navbar .navbar-brand .logo-image {
    display: none;
  }
  body .navbar .navbar-brand .small-logo {
    display: block;
    width: 4em;
  }
  body .navbar .menu-right {
    display: initial;
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: #CAC9F2;
  }
  body .navbar .menu-right .icon {
    display: block;
    top: 0;
    right: 0;
    z-index: 1;
    position: absolute;
  }
  body .navbar .menu-right .menu {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0.5em;
  }
  body .navbar .menu-right .menu li {
    display: block;
    text-align: center;
    padding: 1em;
  }
  body .navbar .menu-right .menu li .nav-link {
    width: 100%;
  }
  body .navbar .menu-right .menu .social-icons a {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 0;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  body .navbar .menu-right .menuToggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    height: 50vh;
    color: #060663;
    font-weight: 500;
  }
  body .footer .footer-content form {
    width: 80%;
    text-align: center;
  }
  body .footer .footer-content form .form-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 1rem auto;
  }
  body .footer .footer-content form .email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer .footer-content form input[type=text] {
    margin: auto;
  }
  body .footer .footer-content form textarea {
    width: 80%;
    margin: 1rem auto;
  }
  body .footer .footer-content form .form-comment {
    height: 6rem;
  }
}

@media only screen and (min-device-width: 377px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  * {
    overflow-x: hidden;
  }
  body {
    background-color: #F2F2F2;
    color: #060663;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-box-shadow: inset 0 0 0 1em #CAC9F2;
            box-shadow: inset 0 0 0 1em #CAC9F2;
  }
  body .navbar {
    font-size: 1.5em;
    width: 85vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    left: 0;
    margin: 1em;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: fixed;
    overflow: visible;
  }
  body .navbar .navbar-brand {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 0;
    top: 0;
    left: 0;
  }
  body .navbar .navbar-brand .logo-image {
    display: none;
  }
  body .navbar .navbar-brand .small-logo {
    display: block;
    width: 4em;
  }
  body .navbar .menu-right {
    display: initial;
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: #CAC9F2;
  }
  body .navbar .menu-right .icon {
    display: block;
    top: 0;
    right: 0;
    z-index: 1;
    position: absolute;
  }
  body .navbar .menu-right .menu {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0.5em;
  }
  body .navbar .menu-right .menu li {
    display: block;
    text-align: center;
    padding: 1em;
  }
  body .navbar .menu-right .menu .social-icons {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 0;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  body .navbar .menu-right .menuToggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    color: #060663;
    font-weight: 500;
  }
  body .footer .footer-content form {
    width: 90vw;
    text-align: center;
  }
  body .footer .footer-content form .form-names {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  body .footer .footer-content form .email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer .footer-content form .email .email-label {
    width: 90%;
  }
}

/*                     */
/* ipad minis and airs */
/*                     */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  * {
    overflow-x: hidden;
  }
  body {
    background-color: #F2F2F2;
    color: #060663;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-box-shadow: inset 0 0 0 1em #CAC9F2;
            box-shadow: inset 0 0 0 1em #CAC9F2;
  }
  body .navbar {
    font-size: 1em;
    width: 95vw;
    height: 10vh;
    left: 0;
    margin: 1em;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: initial;
    position: fixed;
  }
  body .navbar .logo-image {
    display: none;
  }
  body .navbar .small-logo {
    display: block;
    width: 4em;
  }
  body .navbar .menu-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    text-align: center;
    background-color: #CAC9F2;
  }
  body .navbar .menu-right .icon {
    display: block;
    top: 0;
    right: 0;
    z-index: 1;
    position: absolute;
  }
  body .navbar .menu-right .menu {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0.5em;
  }
  body .navbar .menuToggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    height: 80vh;
    color: #060663;
    font-weight: 500;
  }
}

/*           */
/* Landscape */
/*           */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  * {
    padding: 0px;
    margin: 0px;
  }
  body {
    background-color: #F2F2F2;
    color: #060663;
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-box-shadow: inset 0 0 0 1em #CAC9F2;
            box-shadow: inset 0 0 0 1em #CAC9F2;
  }
  body .navbar {
    font-size: 1em;
    width: 95vw;
    height: 10vh;
    left: 0;
    margin: 1em;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: fixed;
  }
  body .navbar .logo-image {
    display: none;
  }
  body .navbar .small-logo {
    display: block;
    width: 4em;
  }
  body .navbar .menu-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    text-align: center;
  }
  body .navbar .menu-right .menu {
    display: none;
  }
  body .navbar .menu-right .icon {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
  }
  body .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    color: #060663;
    font-weight: 500;
  }
}

/*                        */
/*      ipad 12 in        */
/* Portrait and Landscape */
/*                        */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  * {
    padding: 0px;
    margin: 0px;
  }
  body {
    background-color: #F2F2F2;
    color: #060663;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-box-shadow: inset 0 0 0 1em #CAC9F2;
            box-shadow: inset 0 0 0 1em #CAC9F2;
  }
  body .navbar .logo-image {
    display: block;
    width: 20em;
  }
  body .navbar .small-logo {
    display: none;
  }
  body .navbar .menu-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 2em;
    right: 0;
  }
  body .navbar .menu-right .icon {
    display: none;
  }
  body .navbar .menu-right .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: none;
  }
  body .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    color: #060663;
    font-weight: 500;
  }
}
/*# sourceMappingURL=index.css.map */