@import url("https://use.typekit.net/sqa2xzt.css");
/* Color Theme Swatches in Hex 
.marjoree-site-theme-march21-1-hex { color: #CAC9F2; }    light periwinkle from logo
.marjoree-site-theme-march21-2-hex { color: #0511F2; }    action
.marjoree-site-theme-march21-3-hex { color: #88A2F2; }    periwinkle from logo
.marjoree-site-theme-march21-4-hex { color: #F2F2F2; }    neutral white
.marjoree-site-theme-march21-5-hex { color: #060663; }    neutral black    */
body article {
  width: calc(100% - 2rem);
  margin: auto;
}

body article section.intro-proj {
  width: calc(100% - 2rem);
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

body article section.intro-proj h2 {
  margin: auto;
  z-index: 4;
  font-weight: 700;
  font-size: 2.5rem;
  border: #88A2F2;
}

body article section.project-gallery .gallery {
  width: calc(100% - 2rem);
  border: 1px solid #060663;
  margin: 2rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: (20rem)[3];
      grid-template-rows: repeat(3, 20rem);
}

body article section.project-gallery .gallery .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #CAC9F2;
  border: 2px solid #060663;
}

body article section.project-gallery .gallery .box .front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
  height: 100%;
  visibility: visible;
  opacity: 1;
}

body article section.project-gallery .gallery .box .front h1 {
  margin: auto auto 0rem auto;
  font-family: jeanne-moderno-geometrique,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
}

body article section.project-gallery .gallery .box .front ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #c039b5;
  font-weight: 400;
}

body article section.project-gallery .gallery .box .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -2;
  height: 100%;
  background-color: #060663;
  color: #F2F2F2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}

body article section.project-gallery .gallery .box .back a {
  margin: auto;
}

body article section.project-gallery .gallery .box .back a img {
  margin: auto;
  width: 10rem;
}

body article section.project-gallery .gallery .box .back .summary {
  margin: auto;
  max-width: 24rem;
}

body article section.project-gallery .gallery .box:hover .front, body article section.project-gallery .gallery .box:focus .front {
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

body article section.project-gallery .gallery .box:hover .back, body article section.project-gallery .gallery .box:focus .back {
  visibility: visible;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

body article section.project-gallery .gallery .box:active .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body article section.art h2 {
  width: 50rem;
  margin: auto;
  line-height: 2rem;
  text-align: right;
}

/*         */
/* iphones */
/*         */
@media only screen and (min-device-width: 326px) and (max-device-width: 476px) and (-webkit-min-device-pixel-ratio: 2) {
  body article section.intro-proj {
    height: 24rem;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body article section.intro-proj h2 {
    position: absolute;
    margin: 15rem auto auto auto;
    max-width: 95vw;
    text-align: right;
  }
  body article section.project-gallery .gallery {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (20rem)[9];
        grid-template-rows: repeat(9, 20rem);
  }
}
/*# sourceMappingURL=projects.css.map */