@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');

/* Color Theme Swatches in Hex 
.marjoree-site-theme-march21-1-hex { color: #CAC9F2; }    light periwinkle from logo
.marjoree-site-theme-march21-2-hex { color: #0511F2; }    action
.marjoree-site-theme-march21-3-hex { color: #88A2F2; }    periwinkle from logo
.marjoree-site-theme-march21-4-hex { color: #F2F2F2; }    neutral white
.marjoree-site-theme-march21-5-hex { color: #060663; }    neutral black    */

$action: #0511F2;
$logo-prwnkl: #88A2F2;
$pastel-prwknl: #CAC9F2;
$off-white: #F2F2F2;
$dark-blue: #060663;

body{
    article{
        width: 100%;
        margin: auto;
        section.intro-proj{
            width: 100%;
            height: 75vh;
            display: flex;
            flex-direction: row;
            margin: auto;
            h2{
                margin: auto -15rem auto auto;
                z-index: 4;
                font-weight: 700;
                font-size: 2.5rem;
                border: $logo-prwnkl;
            }
            img{
                height: 50%;
                width: 50%;
                margin: auto;
            }
        }
        .project-types{
            width: 100%;
            h3{
                min-width: 25rem;
                line-height: 3rem;
            }
            figure.project{
                display: grid;
                grid-auto-flow: column;
                width: 100%;
                margin: auto;
                padding: 2rem;
                a{
                    grid-template-columns: 25%;
                    img{
                        width: 25vw;
                        border-radius: 50%;
                        &:hover{
                            filter: blur(75%) ;
                        }
                    }
                }
                figcaption{
                    grid-template-columns: 25%;
                    font-weight: 300;
                    align-self: center;
                    ul{
                        grid-template-columns: 25%;
                        li{
                            text-align: right;
                            font-size: 1.25rem;
                            font-weight: 600;
                        }
                    }
                    a{
                        grid-template-columns: 25%;
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 1.5rem;
                        &:link{
                            color: hotpink;
                            text-align: right;
                        }
                    }
                }
                figcaption:last-child{
                    text-align: right;
                }
            }
        }
        section.art{
            h2{
                width: 50rem;
                margin: auto;
                line-height: 2rem;
                text-align: right;
            }
        }
    }
}

/*         */
/* iphones */
/*         */
@media only screen  
    and (max-device-width: 376px)
    and (-webkit-min-device-pixel-ratio: 2) {
    body{
        article{
            section.intro-proj{
                flex-direction: column;
                h2{
                    position: absolute;
                    margin: 15rem auto auto auto;
                    color: $off-white;
                    max-width: 95vw;
                    text-align: right;
                }
                img{
                    width: 100%;
                    z-index: -1;
                }
            }
            section.project-types{
                figure.project{
                    margin: auto;
                    grid-auto-flow: row;
                    text-align: center;
                    a{
                        text-align: center;
                        img{
                            width: 75%;
                        }
                    }
                    figcaption{
                        text-align: center;
                        a{
                            text-align: center;
                        }
                        ul{
                            li{
                                text-align: center;
                            }
                        }
                    }
                    figcaption:last-child{
                        text-align: center;
                    }
                }
            }
        }
    }
}