@import url("https://use.typekit.net/sqa2xzt.css");
/* Color Theme Swatches in Hex 
.marjoree-site-theme-march21-1-hex { color: #CAC9F2; }    light periwinkle from logo
.marjoree-site-theme-march21-2-hex { color: #0511F2; }    action
.marjoree-site-theme-march21-3-hex { color: #88A2F2; }    periwinkle from logo
.marjoree-site-theme-march21-4-hex { color: #F2F2F2; }    neutral white
.marjoree-site-theme-march21-5-hex { color: #060663; }    neutral black    */

$action: #c039b5;
$logo-prwnkl: #88A2F2;
$pastel-prwknl: #CAC9F2;
$off-white: #F2F2F2;
$dark-blue: #060663;

body{
    article{
        width: calc(100% - 2rem);
        margin: auto;
        section.intro-proj{
            width: calc(100% - 2rem);
            height: 15rem;
            display: flex;
            margin: auto;
            h2{
                margin: auto;
                z-index: 4;
                font-weight: 700;
                font-size: 2.5rem;
                border: $logo-prwnkl;
            }
        }
        section.project-gallery{
            .gallery{
                width: calc(100% - 2rem);
                border: 1px solid $dark-blue;
                margin: 2rem auto;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: repeat(3, 20rem);
                .box{
                    display: flex;
                    flex-direction: column;
                    background-color: $pastel-prwknl;
                    border: 2px solid $dark-blue;
                    .front{
                        display: flex;
                        flex-direction: column;
                        z-index: 3;
                        height: 100%;
                        visibility: visible;
                        opacity: 1;
                        h1{
                            margin: auto auto 0rem auto;
                            font-family: jeanne-moderno-geometrique,sans-serif;
                            font-weight: 600;
                            font-style: normal;
                            font-size: 2.5rem;
                        }
                        ul{
                            display: flex;
                            width: 100%;
                            margin: auto;
                            justify-content: space-evenly;
                            color: $action;
                            font-weight: 400;
                        }
                    }
                    .back{
                        display: flex;
                        position: relative;
                        flex-direction: column;
                        z-index: -2;
                        height: 100%;
                        background-color: $dark-blue;
                        color: $off-white;
                        visibility: hidden;
                        opacity: 0;
                        transition: opacity 0.5s, visibility 0.5s;
                        a{
                            margin: auto;
                            img{
                                margin: auto;
                                width: 10rem;
                            }
                        }
                        .summary{
                            margin: auto;
                            max-width: 24rem;
                        }
                    }
                    &:hover,
                    &:focus{
                        .front{
                            display: none;
                            visibility: hidden;
                            opacity: 0;
                            z-index: -1;
                        }
                        .back{
                            visibility: visible;
                            opacity: 1;
                            display: flex;
                            z-index: 3;
                        }
                    }
                    &:active{
                        .back{
                            display: flex;
                        }
                    }
                }
            }
        }
        section.art{
            h2{
                width: 50rem;
                margin: auto;
                line-height: 2rem;
                text-align: right;
            }
        }
    }
}

/*         */
/* iphones */
/*         */
@media only screen  
    and (min-device-width: 326px)
    and (max-device-width: 476px)
    and (-webkit-min-device-pixel-ratio: 2) {
    body{
        article{
            section.intro-proj{
                height: 24rem;
                margin: auto;
                flex-direction: column;
                h2{
                    position: absolute;
                    margin: 15rem auto auto auto;
                    max-width: 95vw;
                    text-align: right;
                }
            }
            section.project-gallery{
                .gallery{
                    grid-template-columns: 100%;
                    grid-template-rows: repeat(9, 20rem);
                }
            }
        }
    }
}