@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');

/* Color Theme Swatches in Hex 
.marjoree-site-theme-march21-1-hex { color: #CAC9F2; }    light periwinkle from logo
.marjoree-site-theme-march21-2-hex { color: #0511F2; }    action
.marjoree-site-theme-march21-3-hex { color: #88A2F2; }    periwinkle from logo
.marjoree-site-theme-march21-4-hex { color: #F2F2F2; }    neutral white
.marjoree-site-theme-march21-5-hex { color: #060663; }    neutral black    */

$action: #0511F2;
$logo-prwnkl: #88A2F2;
$pastel-prwknl: #CAC9F2;
$off-white: #F2F2F2;
$dark-blue: #060663;

body{
    article{
        width: calc(100% - 2rem);
        margin: auto;
        section.intro-proj{
            width: 100%;
            height: 15rem;
            display: flex;
            margin: auto;
            h2{
                margin: auto auto 0 auto;
                z-index: 4;
                font-weight: 700;
                font-size: 2.5rem;
                border: $logo-prwnkl;
            }
        }
        section.project-gallery{
            .gallery{
                width: calc(100% - 2rem);
                border: 1px solid $dark-blue;
                margin: 2rem auto;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: repeat(6, 20rem);
                .box{
                    display: flex;
                    flex-direction: column;
                    background-color: $pastel-prwknl;
                    border: 2px solid $dark-blue;
                    .front{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        h1{
                            margin: auto;
                            font-family: jeanne-moderno-geometrique,sans-serif;
                            font-weight: 600;
                            font-style: normal;
                            font-size: 2.5rem;
                        }
                        ul{
                            display: flex;
                            width: 100%;
                            justify-content: space-evenly;
                            color: $action;
                            font-weight: 400;
                        }
                    }
                    .back{
                        display: none;
                        height: 100%;
                        background-color: $dark-blue;
                        color: $off-white;
                        a{
                            margin: auto;
                            img{
                                margin: auto;
                                width: 10rem;
                            }
                        }
                        .summary{
                            margin: auto;
                            max-width: 24rem;
                        }
                    }
                }
                .box:hover,
                .box:focus{
                    .front{
                        display: none;
                    }
                    .back{
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
        .project-types{
            width: 100%;
            h3{
                min-width: 25rem;
                line-height: 3rem;
            }
            figure.project{
                display: grid;
                grid-auto-flow: column;
                width: 100%;
                margin: auto;
                padding: 2rem;
                a{
                    grid-template-columns: 25%;
                    img{
                        width: 25vw;
                        border-radius: 50%;
                        &:hover{
                            filter: blur(75%) ;
                        }
                    }
                }
                figcaption{
                    grid-template-columns: 25%;
                    font-weight: 300;
                    align-self: center;
                    ul{
                        grid-template-columns: 25%;
                        li{
                            text-align: right;
                            font-size: 1.25rem;
                            font-weight: 600;
                        }
                    }
                    a{
                        grid-template-columns: 25%;
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 1.5rem;
                        &:link{
                            color: hotpink;
                            text-align: right;
                        }
                    }
                }
                figcaption:last-child{
                    text-align: right;
                }
            }
        }
        section.art{
            h2{
                width: 50rem;
                margin: auto;
                line-height: 2rem;
                text-align: right;
            }
        }
    }
}

/*         */
/* iphones */
/*         */
@media only screen  
    and (max-device-width: 476px)
    and (-webkit-min-device-pixel-ratio: 2) {
    body{
        article{
            section.intro-proj{
                height: 24rem;
                margin: auto;
                flex-direction: column;
                h2{
                    position: absolute;
                    margin: 15rem auto;
                    max-width: 95vw;
                    text-align: right;
                }
            }
            section.project-gallery{
                .gallery{
                    grid-template-columns: 100%;
                    grid-template-rows: repeat(18, 20rem);
                }
            }
        }
    }
}