@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');

$action: #0511F2;
$logo-prwnkl: #88A2F2;
$pastel-prwknl: #CAC9F2;
$off-white: #F2F2F2;
$dark-blue: #060663;

body{
    article{
        width: 100%;
        margin: auto;
        min-height: 100vh;
        .project-name{
            margin: 10rem auto 5rem auto;
            text-align: center;
            font-size: 2.5rem;
        }
            figure.project{
                display: flex;
                margin: auto;
                padding: 2rem;
                justify-content: space-evenly;
                img{
                    width: 25vw;
                    border-radius: 50%;
                    &:hover{
                        filter: blur(75%) ;
                    }
                }
                figcaption{
                    font-weight: 300;
                    align-self: center;
                    ul{
                        li{
                            text-align: right;
                            font-size: 1.25rem;
                            font-weight: 600;
                        }
                    }
                    a{
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 1.5rem;
                        &:link{
                            color: hotpink;
                        }
                    }
                }
        }
        section.process{
            margin: 3rem auto;
            h2{
                margin:2rem auto;
                text-align: center;
            }
            p{
                max-width: 50rem;
                margin: auto;
            }
        }
    }
}

/*         */
/* iphones */
/*         */
@media only screen  
    and (max-device-width: 376px)
    and (-webkit-min-device-pixel-ratio: 2) {
    body{
        article{
            .project-name{
                font-size: 2rem;
            }
            figure.project{
                margin: 5rem auto auto auto;
                flex-direction: column;
                img{
                    width: 80%;
                    align-self: center;
                }
                figcaption{
                    text-align: center;
                    ul{
                        li{
                            text-align: center;
                        }
                    }
                }
            }
            section.process{
                h2{
                    margin: 5rem auto;
                }
                p{
                    max-width: 80%;
                }
            }
        }
    }
}