@import url("https://use.typekit.net/sqa2xzt.css");
body .particle-dandelion {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

body .particle-dandelion script {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 20px;
}

body .particle-dandelion .header-statement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  z-index: 5;
  font-family: jeanne-moderno,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #c039b5;
}

body .particle-dandelion .header-statement .opening-statement {
  margin: auto;
  -webkit-animation: normal;
          animation: normal;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: drop-down;
          animation-name: drop-down;
}

body .particle-dandelion .header-statement .opening-statement-2 {
  margin: auto;
  text-align: center;
  -webkit-animation: normal;
          animation: normal;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: drop-down;
          animation-name: drop-down;
}

body .particle-dandelion .header-statement .opening-statement-2 .h2-top {
  margin-left: 5vw;
}

body .particle-dandelion .header-statement .opening-statement-2 .h2-bottom {
  width: 80vw;
}

body .content-wrapper {
  width: calc(100% - 2rem);
  padding: 0px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 0;
  position: relative;
}

body .content-wrapper .intro {
  height: 60vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#88A2F2), to(#F2F2F2));
  background-image: linear-gradient(to top, #88A2F2, #F2F2F2);
  color: #060663;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2rem;
  font-size: 1.25rem;
}

body .content-wrapper .intro .intro-statement {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-weight: 400;
  max-width: 55rem;
  margin: auto;
}

body .content-wrapper .intro .experience-with {
  text-align: center;
  margin: 2rem auto;
}

body .content-wrapper .intro .experience-with h3 {
  font-size: 2rem;
  margin: 2rem auto;
  color: #F2F2F2;
}

body .content-wrapper .intro .experience-with .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .content-wrapper .intro .experience-with .technologies i {
  margin: auto 2rem;
  font-size: 3rem;
}

body .content-wrapper .project-displays {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
}

body .content-wrapper .project-displays h2 {
  margin: 5rem auto;
  text-align: center;
  font-size: 2rem;
}

body .content-wrapper .project-displays .container-row {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
}

body .content-wrapper .project-displays .container-row .project-container {
  width: 300px;
  height: 300px;
  margin: 3rem;
  border-radius: 25%;
  -webkit-box-shadow: 0 0 1em 0.5em #dbddfd;
          box-shadow: 0 0 1em 0.5em #dbddfd;
}

body .content-wrapper .project-displays .container-row .project-container .feature-link {
  cursor: pointer;
  z-index: 8;
  text-decoration: none;
  vertical-align: middle;
  margin: auto;
}

body .content-wrapper .project-displays .container-row .project-container .feature-link .container-content {
  width: 100%;
  height: 100%;
  margin: auto;
  background-size: cover;
  background-blend-mode: screen;
}

body .content-wrapper .project-displays .container-row .project-container .feature-link .container-content .project-info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .content-wrapper .project-displays .container-row .project-container .feature-link .container-content .project-info p {
  margin: auto;
  font-family: jeanne-moderno-ultra,serif;
  text-align: center;
  vertical-align: middle;
  color: #060663;
  font-style: italic;
  text-decoration: none;
  font-weight: 600;
}

body .content-wrapper .project-displays .container-row .project-container:focus, body .content-wrapper .project-displays .container-row .project-container:hover {
  background-color: #F2F2F2;
  border-radius: 25%;
  -webkit-box-shadow: 0 0 2em 0.25em #c039b5;
          box-shadow: 0 0 2em 0.25em #c039b5;
  background-image: none;
}

body .content-wrapper .project-displays.featured-projects {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#88A2F2), to(#F2F2F2));
  background-image: linear-gradient(to bottom, #88A2F2, #F2F2F2);
}

body .content-wrapper .project-displays.featured-projects h2 {
  color: #F2F2F2;
}

body .content-wrapper .project-displays.featured-projects .container-row .project-container .feature-link .one {
  background-image: none;
  background-position: center;
}

body .content-wrapper .project-displays.featured-projects .container-row .project-container .feature-link .one:hover, body .content-wrapper .project-displays.featured-projects .container-row .project-container .feature-link .one:focus {
  background-image: url("https://s3-us-west-1.amazonaws.com/marjoree.e.f-images/projects/ux-ui-samples/preview-squares/blogr-preview-square.png");
}

body .content-wrapper .project-displays.featured-projects .container-row .project-container .feature-link .two {
  background-image: none;
  background-image: none;
  background-position: center;
}

body .content-wrapper .project-displays.featured-projects .container-row .project-container .feature-link .two:hover, body .content-wrapper .project-displays.featured-projects .container-row .project-container .feature-link .two:focus {
  background-image: url("https://s3.us-west-1.amazonaws.com/marjoree.e.f-images/projects/sunnyside-agency/sunnyside-preview.png");
  background-position: top;
  background-size: 150%;
}

body .content-wrapper .project-displays.featured-projects .container-row .project-container .feature-link .three {
  background-image: none;
}

body .content-wrapper .project-displays.featured-projects .container-row .project-container .feature-link .three:hover, body .content-wrapper .project-displays.featured-projects .container-row .project-container .feature-link .three:focus {
  background-image: url("https://s3.us-west-1.amazonaws.com/marjoree.e.f-images/projects/insure-landing-page/insure-landing-page-preview-square.png");
}

body .content-wrapper .project-displays.featured-projects-2 {
  background-color: #F2F2F2;
}

body .content-wrapper .project-displays.featured-projects-2 h2 {
  margin: 5rem auto;
  color: #060663;
}

body .content-wrapper .project-displays.featured-projects-2 .container-row .project-container .feature-link .seven {
  background-image: none;
  background-position: center;
}

body .content-wrapper .project-displays.featured-projects-2 .container-row .project-container .feature-link .seven:hover, body .content-wrapper .project-displays.featured-projects-2 .container-row .project-container .feature-link .seven:focus {
  background-image: url(../assets/project-previews/weather-app-preview.png);
}

body .content-wrapper .project-displays.featured-projects-2 .container-row .project-container .feature-link .eight {
  background-image: none;
}

body .content-wrapper .project-displays.featured-projects-2 .container-row .project-container .feature-link .eight:hover, body .content-wrapper .project-displays.featured-projects-2 .container-row .project-container .feature-link .eight:focus {
  background-image: url(../assets/project-previews/weather-app-preview.png);
}

@-webkit-keyframes drop-down {
  from {
    opacity: 0.25;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes drop-down {
  from {
    opacity: 0.25;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*         */
/* iphones */
/*         */
@media only screen and (min-device-width: 325px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body .particle-dandelion .header-statement .opening-statement {
    margin: auto;
  }
  body .particle-dandelion .header-statement .opening-statement-2 {
    margin-left: 20vw;
    text-align: center;
  }
  body .particle-dandelion .header-statement .opening-statement-2 .h2-top {
    margin-right: 20vw;
  }
  body .particle-dandelion .header-statement .opening-statement-2 .h2-bottom {
    width: 40vw;
  }
  body .content-wrapper .intro {
    width: 91.5vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body .content-wrapper .intro .intro-statement {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto;
    text-align: center;
    max-width: 32rem;
  }
  body .content-wrapper .intro .intro-statement p {
    max-width: 18rem;
    max-height: 100%;
    text-align: center;
    line-height: 1.5rem;
    margin: auto;
  }
  body .content-wrapper .intro .technologies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .content-wrapper .project-displays {
    width: 100%;
    height: calc(-webkit-max-content + 3em);
    height: calc(-moz-max-content + 3em);
    height: calc(max-content + 3em);
    margin: auto;
  }
  body .content-wrapper .project-displays .container-row {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    overflow: visible;
  }
  body .content-wrapper .project-displays .container-row .project-container {
    margin: 5rem auto;
  }
  body .content-wrapper .project-displays.featured-projects {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#88A2F2), to(#F2F2F2));
    background-image: linear-gradient(to bottom, #88A2F2, #F2F2F2);
  }
  body .content-wrapper .project-displays.featured-projects-2 {
    background-color: #F2F2F2;
  }
}

/*                     */
/* ipad minis and airs */
/*                     */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  body .particle-dandelion .header-statement .opening-statement {
    margin-left: 25vw;
    margin-top: 35vh;
  }
  body .particle-dandelion .header-statement .opening-statement-2 {
    margin-left: 20vw;
    text-align: center;
  }
  body .particle-dandelion .header-statement .opening-statement-2 .h2-top {
    margin-right: 20vw;
  }
  body .content-wrapper .intro {
    width: 95.5vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body .content-wrapper .intro .technologies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .content-wrapper .featured-projects {
    width: 100%;
    height: calc(-webkit-max-content + 3em);
    height: calc(-moz-max-content + 3em);
    height: calc(max-content + 3em);
    margin: auto;
    z-index: -4;
    /* background-color: #88a2f0; */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#88A2F2), to(#F2F2F2));
    background-image: linear-gradient(to bottom, #88A2F2, #F2F2F2);
  }
  body .content-wrapper .featured-projects .container-row {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    overflow: visible;
  }
  body .content-wrapper .featured-projects .container-row .project-container {
    width: 200px;
    height: 200px;
    margin: 25px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: outset 0 0 0 2em #c039b5;
            box-shadow: outset 0 0 0 2em #c039b5;
  }
  body .content-wrapper .featured-projects .container-row .project-container .container-content {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #F2F2F2;
    overflow: hidden;
  }
}

/*           */
/* Landscape */
/*           */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  body .particle-dandelion .header-statement .opening-statement {
    margin-left: 25vw;
    margin-top: 35vh;
  }
  body .particle-dandelion .header-statement .opening-statement-2 {
    margin-left: 20vw;
    text-align: center;
  }
  body .particle-dandelion .header-statement .opening-statement-2 .h2-top {
    margin-right: 20vw;
  }
  body .container-row {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/*                        */
/*      ipad 12 in        */
/* Portrait and Landscape */
/*                        */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  body .particle-dandelion .header-statement .opening-statement {
    margin-left: 25vw;
    margin-top: 35vh;
  }
  body .particle-dandelion .header-statement .opening-statement-2 {
    margin-left: 20vw;
    text-align: center;
  }
  body .particle-dandelion .header-statement .opening-statement-2 .h2-top {
    margin-right: 20vw;
  }
  body .content-wrapper .intro {
    width: 97vw;
    margin: auto;
  }
  body .content-wrapper .featured-projects {
    width: 97vw;
    height: calc(-webkit-max-content + 3em);
    height: calc(-moz-max-content + 3em);
    height: calc(max-content + 3em);
    margin: auto;
    z-index: -4;
    /* background-color: #88a2f0; */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#88A2F2), to(#F2F2F2));
    background-image: linear-gradient(to bottom, #88A2F2, #F2F2F2);
  }
  body .content-wrapper .featured-projects .container-row {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .content-wrapper .featured-projects .container-row .project-container {
    width: 200px;
    height: 200px;
    margin: 25px;
    -webkit-box-shadow: outset 0 0 0 2em #0511F2;
            box-shadow: outset 0 0 0 2em #0511F2;
  }
  body .content-wrapper .featured-projects .container-row .project-container .container-content {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #F2F2F2;
    overflow: hidden;
  }
}
/*# sourceMappingURL=style.css.map */