@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url("https://use.typekit.net/sqa2xzt.css");

$action: #0511F2;
$logo-prwnkl: #88A2F2;
$pastel-prwknl: #CAC9F2;
$off-white: #F2F2F2;
$dark-blue: #060663;

body{
    .particle-dandelion{
        width: 100%;
        height: 100vh;
        display: flex;
        overflow-x: hidden;
        script{
            width: 100%;
            height: 100%;
            margin: auto;
            padding: 20px;
        }
        .header-statement{
            display: flex;
            flex-direction: column;
            margin: auto;
            z-index: 5;
            color: $action;
            .opening-statement{
                margin: auto;
                animation: normal;
                animation-play-state: running;
                animation-duration: 2s;
                animation-timing-function: ease-in-out;
                animation-name: drop-down;
            }
            .opening-statement-2{
                margin: auto;
                text-align: center;
                animation: normal;
                animation-play-state: running;
                animation-duration: 2s;
                animation-delay: 250ms;
                animation-timing-function: ease-in-out;
                animation-name: drop-down;
                .h2-top{
                    margin-left: 5vw;
                } 
                .h2-bottom{
                    width: 80vw;
                }
            }
        }
    }
    .content-wrapper{
        width: calc(100% - 2rem);
        padding: 0px;
        margin: auto;
        display: flex;
        flex-direction: column;
        z-index: 0;
        position: relative;
        .intro{
            height: 60vh;
            width: 100%;
            justify-content: center;
            align-content: center;
            position: relative;
            background-image: linear-gradient(to top,#88A2F2, #F2F2F2);
            color: $dark-blue;
            text-align: center;
            flex-direction: column;
            display: flex;
            line-height: 1rem;
            .intro-statement{
                height: max-content;
                line-height: 1.5rem;
                font-weight: 300;
                max-width: 60rem;
                margin: auto;
            }
            .technologies{
                height: max-content;
                list-style-type: none;
                display: flex;
                flex-direction: row;
                margin: auto;
                font-size: 4em;
                li.tech-icons{
                    padding: 0.5em;
                    height: max-content;
                    text-align: center;
                }
            }
        }
        .project-displays{
            width: 100%;
            height: max-content;
            margin: auto;
            h2{
                margin: 5rem auto;
                text-align: center;
                font-size: 2rem;
            }
            .container-row{
                height: max-content;
                width: max-content;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                margin: auto;
                .project-container{
                    width: 300px;
                    height: 300px;
                    margin: 3rem;
                    border-radius: 50%;
                    box-shadow: 0 0 1em 0.5em rgb(219, 221, 253);
                    .feature-link{
                        cursor: pointer;
                        z-index: 8;
                        text-decoration: none;
                        vertical-align: middle;
                        margin: auto;
                        .container-content{
                            width: 100%;
                            height: 100%;
                            margin: auto;
                            background-size: cover;
                                .project-info{
                                    height: 100%;
                                    display: flex;
                                    align-content: center;
                                    p{
                                        margin: auto;
                                        text-align: center;
                                        vertical-align: middle;
                                        color: $dark-blue;
                                        text-decoration: none;
                                        font-weight: 600;
                                    }
                                }
                                &:hover{
                                    background-color: $off-white;
                                    border-radius: 50%;
                                    box-shadow: inset 0 0 5em 0.5em #88A2F2;
                                    background-image: none;
                                }
                            }
                    }
                }
            }

            &.featured-projects{
                background-image: linear-gradient(to bottom,#88A2F2, #F2F2F2);
                h2{
                    color: $off-white;
                }
                .container-row{
                    .project-container{
                        .feature-link{
                            .one{
                                background-image: url('https://s3-us-west-1.amazonaws.com/marjoree.e.f-images/projects/ux-ui-samples/preview-squares/blogr-preview-square.png');
                                background-position: center;
                            }
                            .two{
                                background-image: url('https://s3.us-west-1.amazonaws.com/marjoree.e.f-images/projects/sunnyside-agency/sunnyside-preview.png');
                                background-position: top;
                                background-size: 150%;
                            }
                            .three{
                                background-image: url('https://s3.us-west-1.amazonaws.com/marjoree.e.f-images/projects/insure-landing-page/insure-landing-page-preview-square.png');
                            }
                        }
                    }
                }
            }
            &.featured-projects-2{
                background-color:  $off-white;
                h2{
                    margin: 5rem auto;
                    color: $dark-blue;
                }
                .container-row{
                    .project-container{
                        .feature-link{
                            .seven{
                                background-image: url('https://s3-us-west-1.amazonaws.com/marjoree.e.f-images/projects/ux-ui-samples/preview-squares/blogr-preview-square.png');
                                background-position: center;
                            }
                            .eight{
                                background-image: url('https://s3.us-west-1.amazonaws.com/marjoree.e.f-images/projects/sunnyside-agency/sunnyside-preview.png');
                                background-position: top;
                                background-size: 150%;
                            }
                        }
                    }
                }
            }
        }
}

@keyframes drop-down{
    from{
        opacity: 0.25;
        transform: translateY(-200px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
}

/*         */
/* iphones */
/*         */
@media only screen
    and (min-device-width: 350px)
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2){
    body{
        .particle-dandelion{
            .header-statement{
                .opening-statement{
                    margin-left: 25vw;
                    margin-top: 35vh;
                }
                .opening-statement-2{
                    margin-left: 20vw;
                    text-align: center;
                    .h2-top{
                        margin-right: 20vw;
                    }
                    .h2-bottom{
                        width: 40vw;
                    }
                }
            }
        }
        .content-wrapper{
            .intro{
                width: 91.5vw;
                height: max-content;
                .intro-statement{
                    width: 100%;
                    height: max-content;
                    margin: auto;
                    text-align: center;
                    max-width: 32rem;
                    p{
                        max-width: 18rem;
                        max-height: 100%;
                        text-align: center;
                        line-height: 1.5rem;
                        margin: auto;
                    }
                }
                .technologies{
                    flex-direction: column;
                }
            }
            .project-displays{
                width: 92vw;
                height: calc(max-content + 3em);
                margin: auto;
                .container-row{
                    height: max-content;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    overflow: visible;
                    .project-container{
                        margin: 5rem auto;
                    }
                }
                &.featured-projects{
                    background-image: linear-gradient(to bottom,$logo-prwnkl, $off-white);
                }
                &.featured-projects-2{
                    background-color: $off-white;
                }
            }
        }
    }
}

/*                     */
/* ipad minis and airs */
/*                     */

@media only screen 
    and (min-device-width: 481px) 
    and (max-device-width: 1024px) 
    /* and (orientation: portrait)  */
    and (-webkit-min-device-pixel-ratio: 2) {
    body{
        .particle-dandelion{
            .header-statement{
                .opening-statement{
                    margin-left: 25vw;
                    margin-top: 35vh;
                }
                .opening-statement-2{
                    margin-left: 20vw;
                    text-align: center;
                    .h2-top{
                        margin-right: 20vw;
                    }
                }
            }
        }
        .content-wrapper{
            .intro{
                width: 95.5vw;
                height: max-content;
                .technologies{
                    flex-direction: column;
                }
            }
            .featured-projects{
                width: 100%;
                height: calc(max-content + 3em);
                margin: auto;
                z-index: -4;
                /* background-color: #88a2f0; */
                background-image: linear-gradient(to bottom,$logo-prwnkl, $off-white);
                .container-row{
                    height: max-content;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    overflow: visible;
                    .project-container{
                        width: 200px;
                        height: 200px;
                        margin: 25px;
                        margin-right: auto;
                        margin-left: auto;
                        box-shadow: outset 0 0 0 2em $action;
                        .container-content{
                            width: 100%;
                            height: 100%;
                            margin: auto;
                            background-color: #F2F2F2;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}

/*           */
/* Landscape */
/*           */

@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {

    body{
        .particle-dandelion{
            .header-statement{
                .opening-statement{
                    margin-left: 25vw;
                    margin-top: 35vh;
                }
                .opening-statement-2{
                    margin-left: 20vw;
                    text-align: center;
                    .h2-top{
                        margin-right: 20vw;
                    }
                }
            }
        }
        .container-row{
            height: max-content;
            display: flex;
            flex-flow: row;
            justify-content: space-evenly;
        }
    }
}

/*                        */
/*      ipad 12 in        */
/* Portrait and Landscape */
/*                        */

@media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px)
    and (-webkit-min-device-pixel-ratio: 2) {
    body{
        .particle-dandelion{
            .header-statement{
                .opening-statement{
                    margin-left: 25vw;
                    margin-top: 35vh;
                }
                .opening-statement-2{
                    margin-left: 20vw;
                    text-align: center;
                    .h2-top{
                        margin-right: 20vw;
                    }
                }
            }
        }
        .content-wrapper{
            .intro{
                width: 97vw;
                margin: auto;
            }
            .featured-projects{
                width: 97vw;
                height: calc(max-content + 3em);
                margin: auto;
                z-index: -4;
                /* background-color: #88a2f0; */
                background-image: linear-gradient(to bottom,#88A2F2, #F2F2F2);
                .container-row{
                    height: max-content;
                    display: grid;
                    grid-auto-flow: row;
                    justify-content: space-evenly;
                    .project-container{
                        width: 200px;
                        height: 200px;
                        margin: 25px;
                        box-shadow: outset 0 0 0 2em #0511F2;
                        .container-content{
                            width: 100%;
                            height: 100%;
                            margin: auto;
                            background-color: #F2F2F2;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}